aiofiles==0.7.0
aniso8601==9.0.1
applescript==2018.11.19
asgiref==3.4.1
asyncio==3.4.3
backcall==0.1.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.6.3
bs4==0.0.1
camelcase==0.2
certifi==2018.10.15
chardet==3.0.4
click==8.0.1
colorama==0.3.9
cx-Oracle==8.2.1
cycler==0.10.0
dataclasses==0.8
decorator==4.3.0
detect==2018.11.19
distlib==0.3.2
fastapi==0.66.0
filelock==3.0.12
Flask==2.0.1
Flask-RESTful==0.3.9
gTTS==2.0.1
gTTS-token==1.1.2
gunicorn==20.1.0
h11==0.12.0
idna==2.7
importlib-metadata==4.6.1
importlib-resources==5.2.0
imutils==0.5.1
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.12.1
Jinja2==3.0.1
joblib==1.0.1
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==2.0.1
matplotlib==3.0.0
metakernel==0.20.14
mpg123==0.4
mpld3==0.3
mpmath==1.0.0
numpy==1.19.5
octave-kernel==0.28.4
only==2018.11.20
opencv-contrib-python==3.4.3.18
opencv-python==3.4.3.18
pandas==1.1.5
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.3.0
pipenv==2021.5.29
platformdirs==2.0.2
prompt-toolkit==1.0.15
psutil==5.4.8
ptyprocess==0.6.0
public==2018.11.20
pydantic==1.8.2
Pygments==2.2.0
PyJWT==2.1.0
pyparsing==2.2.2
python-dateutil==2.7.3
python-multipart==0.0.5
pytz==2021.1
pyzmq==17.1.2
requests==2.20.1
runcmd==2018.11.20
scikit-learn==0.24.1
scipy==1.5.4
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
starlette==0.14.2
sympy==1.3
temp==2018.11.20
threadpoolctl==2.2.0
tornado==5.1.1
traitlets==4.3.2
typing-extensions==3.10.0.0
urllib3==1.24.1
uvicorn==0.14.0
virtualenv==20.6.0
virtualenv-clone
vlc
wcwidth==0.1.7
Werkzeug==2.0.1
xlrd==2.0.1
zipp==3.5.0
